.table-responsive{
    overflow-x: hidden;
}
.dropdown-menu {
    overflow-y: auto !important;
    max-height: 261px !important;
    overflow-x: hidden !important;
    width: 100% !important;
}
.dropdown>ul>li:nth-of-type(odd) {
    background-color: #d9edf7 !important;
}