.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #d9edf7;
}
.disabled-class {
    cursor: not-allowed;
}
.question_search .table>thead {
    color: black;
}
table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
  }
  
  thead {
    background-color: #EFEFEF;
  }
  
.fixed_header tbody{
display:block;
width: 100%;
overflow: auto;

}

.fixed_header thead tr {  
 display: block;
}



.fixed_header th, .fixed_header td {
padding: 5px;
text-align: left;
width: 200px;
}

  
  td,
  th {
    min-width: 100px;
    height: 25px;
    border: dashed 1px lightblue;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    max-width: 100px;
  }
