<div class="modal fade" #verifyModel id="verified" role="dialog">
  <div class="modal-dialog vry_modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><i class="fa fa-info-circle"></i> Are You Sure?</h4>
      </div>
      <div class="modal-body modal_text">
        <p>Do you really want to verify these records? This process cannot be undone</p>
      </div>
      <div class="modal-footer modal_foot">
        <button type="submit" class="bt btn-warning" (click)="verifyClassification()">verify</button>
        <button type="submit" class="bt btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Blocked  Modal start -->
<div class="modal fade" #blockModel id="block" role="dialog">
  <div class="modal-dialog vry_modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><i class="fa fa-info-circle"></i> Are You Sure?</h4>
      </div>
      <div class="modal-body modal_text">
        <p *ngIf="classf_blocked =='1'">Do you really want to Block these records? </p>
        <p *ngIf="classf_blocked =='0'">Do you really want to Unblock these records? </p>
      </div>
      <div class="modal-footer modal_foot">
        <button *ngIf="classf_blocked =='1'" type="submit" class="bt btn-warning"
          (click)="blockClassification()">Block</button>
        <button *ngIf="classf_blocked =='0'" type="submit" class="bt btn-warning"
          (click)="blockClassification()">Unblock</button>
        <button type="submit" class="bt btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Blocked Modal end-->

<!--Delete  Modal start -->
<div class="modal fade" id="delete" role="dialog">
  <div class="modal-dialog vry_modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><i class="fa fa-info-circle"></i> Are You Sure?</h4>
      </div>
      <div class="modal-body modal_text">
        <p>Do you really want to Delete these records? This process cannot be undone</p>
      </div>
      <div class="modal-footer modal_foot">
        <button type="submit" class="bt btn-warning">Delete</button>
        <button type="submit" class="bt btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal end-->
<app-sdashheader></app-sdashheader>
<div class="leftsidemenus">
  <app-sdahshmenu></app-sdahshmenu>
</div>
<div id="page-wrapper">
  <div class="content">
    <!--====Question upload page start====-->
    <section class="question_search question_sec selt_ht scroll-yes">
      <div class="container-fluid">
        <div class="col-md-12">
          <div class="all_brd">
            <div class="question_title" id="pers_inf">
              <h3>Classification Search & List View</h3>
            </div>
            <div class="top_btn">
              <input type="checkbox" (change)="getBlockClassification()" id="blockClassification">&nbsp;Blocked&nbsp;&nbsp;&nbsp;
              <input type="checkbox" (change)="getVerifiedClassification()" id="verifiedClassification">&nbsp;Not
              Verified&nbsp;&nbsp;&nbsp;
              <input type="text"
                (keyup)="(($event.which <= 90 && $event.which >= 48)||$event.keyCode == 8 ||$event.keyCode == 13 )?searchClassification():''"
                id="searchClassification" placeholder="Search...." [(ngModel)]="searchTerm">&nbsp;&nbsp;&nbsp;
                <div class="col-md-3 input-group-btn"  style="float: right;margin-right: 7%;">
  
                  <button class="bt btn-info" type="submit" (click)="resetFilters()">Reset</button>
              </div>
            </div>
            <div class="content_sub">
              <div class="all_mian">
                <div class="table-responsive check_all" style="min-height: 425px;">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <td><label for="fruit1">Lable</label></td>
                        <th>ID</th>
                        <th>Country</th>
                        <th>Course</th>
                        <th>Class</th>
                        <th>Subject</th>
                        <th>Verify by</th>
                        <th>Verify date </th>
                        <th>Block by</th>
                        <th>Block date</th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr style="color: black;">
                        <td></td>
                        <td></td>
                        <td><p-multiSelect [options]="country" [(ngModel)]="selectedCountry" (onChange)="setFilters();" [panelStyle]="{minWidth:'12em'}" maxSelectedLabels='0'></p-multiSelect>
                        </td>
                        <td><p-multiSelect [options]="course" [(ngModel)]="selectedCourse"  (onChange)="setFilters();"[panelStyle]="{minWidth:'12em'}" maxSelectedLabels='0'></p-multiSelect>
                        </td>
                        <td><p-multiSelect [options]="class" [(ngModel)]="selectedClass"(onChange)="setFilters();" [panelStyle]="{minWidth:'12em'}"maxSelectedLabels='0'></p-multiSelect>
                        </td>
                        <td><p-multiSelect [options]="subject" [(ngModel)]="selectedSubject"(onChange)="setFilters();" [panelStyle]="{minWidth:'12em'}"maxSelectedLabels='0'></p-multiSelect>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><p-multiSelect [options]="status" [(ngModel)]="selectedVerify" (onChange)="setFilters();" [panelStyle]="{minWidth:'12em'}"maxSelectedLabels='0'></p-multiSelect>
                        </td>
                        <td><p-multiSelect [options]="status" [(ngModel)]="selectedBlocked" (onChange)="setFilters();" [panelStyle]="{minWidth:'12em'}"maxSelectedLabels='0'></p-multiSelect>
                        </td>
                      </tr>
                    </thead>
                    <tbody *ngIf="!loading">
                      <ng-container *ngFor="let clsf of allClassification;let i = index;">

                        <tr [style.font-weight]="clsf.is_classf_verified == 1?normal:600"
                          [style.background-color]="clsf.classf_blocked == '1'?'#c9c5c5':''">
                          <td><label for="check_1">{{i+1}}</label></td>
                          <td>{{clsf.classf_id}}</td>
                          <!-- <td id="savefame_{{i}}" style="display: none" >
                                                                        <input type="text" id="cfame_{{i}}">
                                                                <div style="display: flex;margin-left: 10px;">
                                                                        <a class="bt btn-success" (click)="saveFname(i,course.classf_id,'course_fname')">Save</a>
                                                                        <a class="bt btn-primary" (click)="cancelRow(i)">Cnacel</a>
                                                            </div>   </td> -->
                          <td id="editfame_{{i}}" pTooltip="{{clsf.cntry_name}}" tooltipPosition="top">
                            <div class="col-md-12">
                              <div class="col-md-10">
                                <ng-container *ngIf="clsf.cntry_name !==null">
                                  {{clsf.cntry_name.substr(0,12)}}<ng-container *ngIf="clsf.cntry_name.length>12">
                                    ...
                                  </ng-container>
                                </ng-container>
                              </div>
                              <!-- <div class="col-md-2 editbutton">
                                <a class="bt btn-success" style="margin-top:0px;"
                                  (click)="editRow(i,clsf.course_fname)">Edit</a>
                              </div> -->
                            </div>
                          </td>
                          <!-- <td id="saveSname_{{i}}" style="display: none" >
                                                                        <input type="text" id="sfame_{{i}}">
                                                                <div style="display: flex;margin-left: 10px;">
                                                                        <a class="bt btn-success" (click)="saveSname(i,clsf.classf_id,'course_sname')">Save</a>
                                                                        <a class="bt btn-primary" (click)="cancelRowSname(i)">Cnacel</a>
                                                            </div>   </td> -->
                          <td id="editSname_{{i}}" pTooltip="{{clsf.course_fname}}"
                            tooltipPosition="top">
                            <div class="col-md-12">
                              <div class="col-md-10">
                                <ng-container *ngIf="clsf.course_fname !==null">
                                  {{clsf.course_fname.substr(0,12)}}<ng-container *ngIf="clsf.course_fname.length>12">
                                    ...
                                  </ng-container>
                                </ng-container>
                              </div>
                              <!-- <div class="col-md-2 editbuttonSname">
                                <a class="bt btn-success" style="margin-top:0px;"
                                  (click)="editRowSname(i,clsf.course_sname)">Edit</a>
                              </div> -->
                            </div>
                          </td>
                          <td id="editSname_{{i}}" pTooltip="{{clsf.class_fname}}"
                            tooltipPosition="top">
                            <div class="col-md-12">
                              <div class="col-md-10">
                                <ng-container *ngIf="clsf.class_fname !==null">
                                  {{clsf.class_fname.substr(0,12)}}<ng-container *ngIf="clsf.class_fname.length>12">
                                    ...
                                  </ng-container>
                                </ng-container>
                              </div>
                              <!-- <div class="col-md-2 editbuttonSname">
                                <a class="bt btn-success" style="margin-top:0px;"
                                  (click)="editRowSname(i,clsf.course_sname)">Edit</a>
                              </div> -->
                            </div>
                          </td>
                          <td id="editSname_{{i}}"  pTooltip="{{clsf.subject_fname}}"
                            tooltipPosition="top">
                            <div class="col-md-12">
                              <div class="col-md-10">
                                <ng-container *ngIf="clsf.subject_fname !==null">
                                  {{clsf.subject_fname.substr(0,12)}}<ng-container *ngIf="clsf.subject_fname.length>12">
                                    ...
                                  </ng-container>
                                </ng-container>
                              </div>
                              <!-- <div class="col-md-2 editbuttonSname">
                                <a class="bt btn-success" style="margin-top:0px;"
                                  (click)="editRowSname(i,clsf.course_sname)">Edit</a>
                              </div> -->
                            </div>
                          </td>
                          <td *ngIf="clsf.classf_verified_by==null">--</td>
                          <ng-container *ngIf="clsf.classf_verified_by!=null">
                            <td pTooltip="{{clsf.vrfname}}" tooltipPosition="top">
                              <ng-container *ngIf="clsf.classf_verified_by !==null">
                                {{clsf.vrfname.substr(0,12)}}<ng-container *ngIf="clsf.vrfname.length>12">...
                                </ng-container>
                              </ng-container>
                            </td>
                          </ng-container>

                          <td>{{clsf.classf_verified_date}}</td>
                          <td *ngIf="clsf.classf_blocked_by=='0'">--</td>
                          <ng-container *ngIf="clsf.classf_blocked_by!='0'">
                            <td pTooltip="{{clsf.blockedname}}" tooltipPosition="top">
                              <ng-container *ngIf="clsf.classf_blocked_by !=='0'">
                                {{clsf.blockedname.substr(0,12)}}<ng-container *ngIf="clsf.blockedname.length>12">...
                                </ng-container>
                              </ng-container>
                            </td>
                          </ng-container>
                          <td>{{clsf.classf_blocked_dat}}</td>
                          <td *ngIf="clsf.is_classf_verified == '0'"><button class="bt btn-info" data-toggle="modal"
                              data-target="#verified" (click)="classf_id=clsf.classf_id">Verify
                            </button></td>
                          <td *ngIf="clsf.is_classf_verified == '1'">Verified</td>
                          <td *ngIf="clsf.classf_blocked == '0'">
                            <!--verified start-->
                            <button class="bt btn-warning" (click)="classf_blocked ='1'" data-toggle="modal"
                              data-target="#block" (click)="classf_id=clsf.classf_id">Block
                            </button>
                          </td>
                          <td *ngIf="clsf.classf_blocked == '1'">
                            <!--verified start-->
                            <button class="bt btn-warning" (click)="classf_blocked = '0'" data-toggle="modal"
                              data-target="#block" (click)="classf_id=clsf.classf_id">Unblock
                            </button>
                          </td>
                          <!--verified end-->
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <div style="
                                             text-align: center;
                                             margin-top: 8%;height: 297px;" *ngIf="loading">
                    <p-progressSpinner></p-progressSpinner>
                  </div>
                  <div style="
                                                 text-align: center;
                                                 margin-top: 8%;height: 297px;" *ngIf="allClassification.length<1&&!loading">
                                                       <h3>No rows found!</h3>
                                                   </div>
                </div>
                <div class="pages_but">
                  <div class="badge-inner">
                    <p-paginator [rows]="10" [totalRecords]="totalClassification" [rowsPerPageOptions]="[10,20,30]"
                      (onPageChange)="currentPage = $event.page; onPageChange($event) " #paginator></p-paginator>

                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--====top profile background End====-->
  </div>
</div>