 #status_inf {
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: auto;
    width: 100%;
    margin-top: 20px;
    background: -webkit-linear-gradient(left, #fff, #fff);
    -webkit-box-shadow: 7px 0 0 #fff, -7px 0 0 #fff, 0 2px 3px #fff, 0 -1px 2px #fff;
    /*box-shadow: 7px 0 0 #cfedff, -7px 0 0 #fff, 0 2px 3px #fff, 0 -1px 2px #fff;*/
}
.usertype-createprofile {
    margin-top: 21px;
    position: relative;
    left: 3%;
    /* border: 1px solid; */
}

.admin_add[_ngcontent-c1] {
    float: none;
    width: 90%;
    border: 1px solid #ccc;
    margin: 0px auto 30px auto;
    border-radius: 0px 0px 8px 9px;
    border-top: none;
}