#status_inf {
    display: inline-block;
    position: relative;
    vertical-align: top;
  
    width: 100%;}
.popup_dla .form-control {
        border-radius: 3px;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 31px;
        border: 1px solid #e4e5e7;
        width: 100%;
        margin-bottom: 5px;
    }
    .popup_dla {
         position: relative; 
        left: 0px;
        width: 100%; 
        padding: 20px 20px;
    }

    .top_admin[_ngcontent-c10]{border: 0px solid #ccc;}