<app-sdashheader></app-sdashheader>
<div class="leftsidemenus">
   <app-sdahshmenu></app-sdahshmenu>
</div>
<div id="page-wrapper">
<div class="content">
<!--verified  Modal start -->
<div class="modal fade" id="verified" role="dialog">
    <div class="modal-dialog vry_modal">
       <div class="modal-content">
        <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><i class="fa fa-info-circle"></i> Are You Sure?</h4>
               </div>
              <div class="modal-body modal_text">
                  <p>Do you really want to verify these records? This process cannot be undone</p>
              </div>
               <div class="modal-footer modal_foot">
                <button type="submit" class="bt btn-warning">verify</button>
                  <button type="submit" class="bt btn-info" data-dismiss="modal">Close</button>
              </div>
          </div>
     </div>
 </div>
<!-- verified Modal end-->
  <!--Blocked  Modal start -->
  <div class="modal fade" id="block" role="dialog">
    <div class="modal-dialog vry_modal">
       <div class="modal-content">
        <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><i class="fa fa-info-circle"></i> Are You Sure?</h4>
               </div>
              <div class="modal-body modal_text">
                  <p>Do you really want to Block these records? This process cannot be undone</p>
              </div>
               <div class="modal-footer modal_foot">
                <button type="submit" class="bt btn-warning">Block</button>
                  <button type="submit" class="bt btn-info" data-dismiss="modal">Close</button>
              </div>
          </div>
     </div>
 </div>
<!-- Blocked Modal end-->
  <!--Delete  Modal start -->
  <div class="modal fade" id="delete" role="dialog">
    <div class="modal-dialog vry_modal">
       <div class="modal-content">
        <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><i class="fa fa-info-circle"></i> Are You Sure?</h4>
               </div>
              <div class="modal-body modal_text">
                  <p>Do you really want to Delete these records? This process cannot be undone</p>
              </div>
               <div class="modal-footer modal_foot">
                <button type="submit" class="bt btn-warning">Delete</button>
                  <button type="submit" class="bt btn-info" data-dismiss="modal">Close</button>
              </div>
          </div>
     </div>
 </div>
<!-- Delete Modal end-->
  <!--====Question upload page start====-->
  <div class="question_search question_sec selt_ht"> 
      <div class="all_brd">
           <div class="question_title" id="pers_inf">
            <h3>Test Attend Page</h3>
        </div>
        <div class="content_sub"> 
            <!---Question-1 Owner: start-->
            <div class="test_attend">
               <div class="row pd-10">
          <!--right strat--->
                <div class="  col-md-12">
                    <div class="qution_tab table-responsive">
                        <!--Heading tab-->
                         <div class="pus_time m-b-10">
                          <button type="submit" class="bt btn-danger">Pause</button>
                              <span>00:59:12</span>
                        </div>
                        <div class="clearfix"></div>
                        <!--details--tabs-->
                        <div class="all_info">
                        <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr class="adm_tr_bg">
                                            <th>UNIQUE TEST ID</th>
                                            <th>TITLE</th>
                                            <th>ATTENDING BY</th>
                                            <th>NO.USERS/ASSIGNED</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="blc_del_bg">
                                            <td>Av college</td>
                                            <td>ushan jone</td>
                                            <td>25140</td>
                                            <td>2546</td>
                                         </tr>
                                     </tbody>
                                </table>
                                <table class="table">
                                    <thead>
                                        <tr class="adm_tr_bg2">
                                            <th>COUNTRY</th>
                                            <th> COURSE </th>
                                            <th> CLASS </th>
                                            <th> SUBJECT </th>
                                            <th>LESSION/TOPIC(s)</th>
                                    </thead>
                                    <tbody>
                                        <tr class="blc_del_bg2">
                                            <td> India </td>
                                            <td>MPCs</td>
                                            <td>Inter</td>
                                            <td>Physics</td>
                                            <td> Greenhouse effect </td>
                                        </tr>
                                    </tbody>
                                </table>
                            
                                <table class="table">
                                    <thead>
                                        <tr class="adm_tr_bg1">
                                            <th>START DATE</th>
                                            <th>END DATE</th>
                                            <th>NO. OF QUESTIONS</th>
                                            <th>DURATION</th>
                                            <th>TOTAL MARKS</th>
                                            <th>NEGTIVE MARKS APPLBLE?</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="blc_del_bg1">
                                            <td>20-5-2018</td>
                                            <td>21-5-2018</td>
                                            <td> 25 </td>
                                            <td>30 min</td>
                                            <td>100</td>
                                            <td> Yes </td>
                                        </tr>
                                     </tbody>
                                </table>
                            </div>
                        </div>
                     <!---///details--tabs----->
                    <!----Quesion list Start----->
                    <div class="all_quesin quesi-col">
                         <h5>CBSE Test Attend</h5>
                         <li>
                                <div class="pus_time m-b-10 pull-left col-md-offset-2 col-md-10">
                                    <button type="submit" class="bt btn-danger durationattend"> Duration  </button>
                                        <span class="durationattendres">00:01:12</span>
                                        <button type="submit" class="bt btn-danger durationattend">Marks </button>
                                        <span class="durationattendres">1 Mark</span>
                                        <button type="submit" class="bt btn-danger durationattend">Negtive Marks  </button>
                                        <span class="durationattendres">No</span>
                                  </div>
                                <div class="row">
                                  <div class="col-md-12">
                                      <span class="questionno"> 2 </span>  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                                   </div>
                                  </div>
                                <div class="row pd-10 m-t-20">
                                   <div class="col-md-12 answ check_all">
                                  <ol type="A">
                                          <li> 
                                             <input type="checkbox" id="check" name="checkbox">
                                            <label for="check">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a Lorem</label> 
                                            
                                            </li>
                                            <li> <input type="checkbox" id="check_1" name="checkbox">
                                            <label for="check_1">answer-2</label>
                                            </li>
                                            <li> <input type="checkbox" id="check_2" name="checkbox">
                                            <label for="check_2">answer-2</label>
                                            </li>
                                            <li> <input type="checkbox" id="check_3" name="checkbox">
                                            <label for="check_3">answer-2</label>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </li>
                          <div class="dividequestion"></div>
                           <li>
                              <div class="pus_time m-b-10 pull-left col-md-offset-2 col-md-10">
                                  <button type="submit" class="bt btn-danger durationattend"> Duration  </button>
                                      <span class="durationattendres">00:01:12</span>
                                      <button type="submit" class="bt btn-danger durationattend">Marks </button>
                                      <span class="durationattendres">1 Mark</span>
                                      <button type="submit" class="bt btn-danger durationattend">Negtive Marks  </button>
                                      <span class="durationattendres">No</span>
                                </div>
                              <div class="row">
                                <div class="col-md-12">
                                    <span class="questionno"> 2 </span>  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                                 </div>
                                </div>
                              <div class="row pd-10 m-t-20">
                                 <div class="col-md-12 answ check_all">
                                <ol type="A">
                                        <li> 
                                           <input type="checkbox" id="check" name="checkbox">
                                          <label for="check">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a Lorem</label> 
                                          
                                          </li>
                                          <li> <input type="checkbox" id="check_1" name="checkbox">
                                          <label for="check_1">answer-2</label>
                                          </li>
                                          <li> <input type="checkbox" id="check_2" name="checkbox">
                                          <label for="check_2">answer-2</label>
                                          </li>
                                          <li> <input type="checkbox" id="check_3" name="checkbox">
                                          <label for="check_3">answer-2</label>
                                          </li>
                                      </ol>
                                  </div>
                              </div>
                          </li>
                  </div>
            </div>
         <!--right strat End--->
        </div>
    </div>
    </div>
    </div>
    </div>
</div>
<!--====top profile background End====-->
</div>
</div>