/* You can add global styles to this file, and also import other style files */
.sidebar {
 margin-top: 1px !important; 
    background-color: #000;
}
.ui-autocomplete .ui-autocomplete-input {
  
    padding: 3px !important;
    width: 290px !important;
  }
  .selected-list {
    width: 100%;
    padding: 3px !important;
    cursor: pointer;
    display: flex;
    position: relative;
  }
  
  .c-btn {
    display: inline-block;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 10px !important;
    color: #333;
  }

  .selected-list .c-angle-down, .selected-list .c-angle-up {
    width: 12px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    pointer-events: none;
}
.selected-list.c-btn {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    position: relative;
    padding-top: 4px;
}
.selected-list {
    width: 115px;}
.selected-list .c-angle-down,
 .selected-list .c-angle-up {
        width: 10px;
        height: 15px;
        position: absolute;
        right: 3px; 
        top: 59%;
        transform: translateY(-50%);
        pointer-events: none;
    }
    .list-area {
        border: 1px solid #ccc;
        border-radius: 3px;
        background: #fff;
        margin: 0px;
        box-shadow: 0px 1px 5px #959595;
        width: 200px;
    }
    input.ng-tns-c5-0.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.ng-star-inserted {
        height: 25px;
        position: relative;
        top: -1px;
        border-radius: 3px;
    }
    .topbutton span {
        width: 100px;
        margin: 0px 5px;
    }
  
    .topbutton {
        background: -webkit-linear-gradient(left, #f48a9e, #fcc38e);
        padding: 3px;
    }
    .ui-widget-content {
        border: none !important;
        /* background: #dff0d800 !important; */
        color: #333;
    }
    .ui-accordion .ui-accordion-content {
        padding: 0.571em 1em;
        border: none !important;
        background-color: #ffffff00 !important;
        color: #333333;
        padding: 0.571em 1em;
    }
    .ui-accordion {
        width: 96% !important;
        margin-top: 10px !important;
    }
  .ui-accordion .ui-accordion-header a {
 border-radius: 5px !important;
    }


    