.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #d9edf7;
}
.table-striped>tbody>tr>td{
    min-width: 20px;
}
.editbutton{
    display: none;
}
.hoveruseredit:hover .editbutton{
    display: block;
  }
  .editbuttonSname{
    display: none;
}
.hoverusereditSname:hover .editbuttonSname{
    display: block;
  }